django
django-webpack-loader
django-storages
django-model-utils
django-extensions
django-filter
django-cors-headers

djangorestframework
drf-extensions
google-cloud-storage
django-health-check

celery
Pillow

selenium

# development
flake8
ipdb
ipython
pydotplus
Werkzeug
django-debug-toolbar
